body { 
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
}

.left-panel {
    background-color: #354051;
    height: 90rem;
    width: 200px;
}

.profile-picture-frame {
    align-items: center;
    border-bottom: 5px solid #2f3a4b;
    display: flex;
    flex-direction: column;
    height: 22vh;
    justify-content: center;
}


.profile-picture {
    border-radius: 100px;
    height: 4.75rem;
    margin-top: 5px;
    width: 4.75rem;
}

.profile-picture:hover {
    cursor: pointer;
}

.profile {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-name {
    color: #f3f3f3;
    font-size: small;
    font-weight: 600;
    margin-right: 5px;
    opacity: .5;
}

.expand-button {
    opacity: .5;
    height: .6rem;
    width: .6rem;
}

.expand-button:hover {
    cursor: pointer;
    height: .8rem;
    opacity: 1;
    width: .8rem;
}

.main-tabs {
    border-bottom: 5px solid #2f3a4b;
    color: #f3f3f3;
    height: 18%;
}

.main-title {
    font-size: small;
    margin: 20px 0 5px;
    opacity: .3;
}

.left-panel-svgs {
    height: 1.25rem;
    width: 1.25rem;
}

.left-panel-inner-content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: 2.9rem;
    opacity: .4;
    padding-left: 12px;
}

.left-panel-inner-content:hover {
    background-color: #31394a;
    border-left: 2px solid #19a1e7;
    cursor: pointer;
    font-weight: 800;
    opacity: 1;
}

.left-panel-text {
    font-size: 14px;
    margin-left: 10px;
}

.main-tab-bottom {
    color: #f3f3f3;
    height: 96rem;
}

.bottom-left-panel-checkbox {
    background-color: #fed708;
    height: .5rem;
    padding: 5px 5px;
    width: .5rem;
}

.bottom-left-panel-text {
    font-size: 12px;
    margin-left: 10px;
}

.main-panel {
    height: 90rem;
    width: 80rem;
}

.search-bar-row {
    border-bottom: 3px solid #eaedf2;
    display: flex;
    height: 6%;
    width: 100%;
}

.search-bar-menu {
    align-items: center;
    border-right: 3px solid #eaedf2;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 9%;
}

.search-left-svg:hover {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

.blue-dot {
    color: #28a2f0;
    font-size: large;
    margin-left: -8px;
}

.input-section {
    align-items: center;
    display: flex;
    height: 100%;
    width: 70%;
}

.search-input-svg {
    margin-left: 13px;
    position: absolute;
}

.search-input {
    border: none;
    font-size: small;
    font-weight: 700;
    height: 100%;
    opacity: .5;
    position: relative;
    text-indent: 42px;
    width: 100%;
}

.search-row-right-icon {
    align-items: center;
    border-left: 3px solid #eaedf2;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100px;
}

.search-right-svg {
    height: 2rem;
    width: 2rem;
}

.search-row-right-icon:hover {
    background-color: #14a5fa;
    color: #f3f3f3;
    cursor: pointer;
}

.main-top {
    display: flex;
    height: 9%;
}

.main-top-left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.main-top-heading {
    font-size: x-large;
    font-weight: 600;
    margin: 0;
    padding-left: 40px;
    color: #666668;
}

.main-location {
    padding-left: 40px;
    color: #8b8f98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15.5rem;
}

.location-spacing {
    display: flex;
    font-size: small;
    justify-content: space-between;
    width: 14rem;
}

.main-top-blue-text {
    color: #77c7e3;
}

.main-top-blue-text:hover {
    cursor: pointer;
    font-weight: 600;
}

.location-svg {
    height: 1.25rem;
    width: 1.25rem;
}

.location-svg:hover {
    cursor: pointer;
}

.main-top-right {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.open-button {
    padding: 0 1.5rem;
    border: 3px solid #eaedf2;
    border-radius: 25px;
    display: flex;
    width: 3.5rem;
    align-items: center;
    justify-content: space-between;
    opacity: .50;
}

.open-button:hover {
    cursor: pointer;
    border-color: #14a5fa;
    opacity: 1;
}

.open-svg {
    height: .75rem;
    width: .75rem;
}

.open-text {
    color: #6f6f73;
    font-weight: 800;
    font-size: small;
}

.main-top-svgs {
    padding: .5rem .5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid #eaedf2;
    border-radius: 100px;
    opacity: .5;
}

.top-right-1 {
    margin: 0 1rem;
}

.top-right-3 {
    margin: 0 3rem 0 1rem;
}

.main-top-svgs:hover {
    cursor: pointer;
    opacity: .75;
    border-color: #14a5fa;
}

.selector-box {
    width: 79%;
    height: 3%;
}

.panel-selectors {
    padding-left: 42px;
    display: flex;
    justify-content: space-between;
}

.selectors {
    color: #6f6f73;
    font-size: 10px;
    font-weight: 800;
    opacity: .75;
    padding-bottom: 20px;
}

.selectors:hover {
    border-bottom: 3px solid #3eb0f9;
    cursor: pointer;
    opacity: 1;
}

.main-panel-main-box {
    background-color: #edf2f6;
    width: 100%;
    height: 73.6rem;
}

.graph-section {
    width: 100%;
    height: 22rem;
    display: flex;
    background-color: red;
}

.left-graph-box {
    height: 22rem;
    width: 53%;

}

.right-graph-box {
    height: 22rem;
    width: 47%;
}

.more-options-button {
    height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.left-button-border {
    width: 48%;
    border-bottom: 3px solid #dbe0e5;
}

.right-button-border {
    width: 48%;
    border-bottom: 3px solid #dbe0e5;
}